[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "==20.1.0"
flask-socketio = "*"
gevent = "*"
eventlet = "==0.30.2"
gevent-websocket = "*"

[dev-packages]

[requires]
python_version = "3.9"
